.container {
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 250px;
    max-height: 70px;
    left: 0;

}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

}

.element {
    margin: 0;
}

.btn {
    height: 100%;
    padding: 5px;
    margin-top: 12px;

}