.container {
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 240px;
    height: 150px;
    display: flex;

}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}

.number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

.input {
    width: 230px;
    padding: 5px;
}

.btn {
    padding: 5px;
    width: 90px;
    margin: 0 auto;
}

.error {
    color: rgb(244, 6, 6);
    font-size: 0.875em;
}